In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('illiteracy.txt', sep='\t')
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [5]:
data_corr = data.corr()
data_corr.head()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [9]:
print round(data_corr['Illit']['Births'],4)

0.7687

In [12]:
data_corr_spear = data.corr(method='spearman')
print data_corr_spear.head()
print round(data_corr_spear['Illit']['Births'],4)

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000
0.753